
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mb-7">

  @for( ext of filteredExtensions; track ext.id){

  <div
    class="container flex flex-col w-90 h-40 border-1 border-[var(--card-bord)]
     mx-auto md:mx-0 rounded-3xl my-1 md:w-ful md:w-[95%]
    bg-[var(--bg-card)]"
  >
    <div class="flex flex-row w-full h-25">
      <div class="w-20 h-25 flex justify-center">
        <img
          class="w-15 h-15 mt-5 ml-5 object-cover"
          [src]="'assets/images/' + ext.icon"
          [alt]="ext.name"
        />
      </div>
      <div class="w-36 h-25 mt-3 ml-3">
        <h1 class="text-left font-bold text-[var(--card-name)] mt-1">{{ ext.name }}</h1>
        <p class="text-[var(--card-description)] text-xs">{{ ext.description }}</p>
      </div>
    </div>
    <div class="flex flex-row justify-between w-full h-15 border-">
      <button
        class="px-5 py-4 m-3 text-sm text-center text-[var(--text-color)]
         bg-[var(--card-btn)] border-1 border-[var(--card-bord)] rounded-3xl
          mx-5 flex items-center cursor-pointer
          hover:bg-red-500 hover:text-white hover:border-0"
      >Remove
      </button>
      <label class="w-13 h-5 relative inline-flex items-center cursor-pointer mt-4 mr-4">

        <input
        type="checkbox"
        class="sr-only peer"
        [checked]="ext.active"
        (change)="toggleActive(ext)"
        />
        <div
          class="w-15 h-7 bg-gray-300 rounded-full peer-checked:bg-red-500 transition-colors"
        ></div>
        <div
          class="absolute left-1 w-5 h-5 bg-white rounded-full shadow-md
          peer-checked:translate-x-6 transition-transform"
        ></div>
      </label>
    </div>
  </div>
  }

</div>


