@import "tailwindcss";

:root{
  --bg-color: #ffffff;
  --text-color: #000000;
  --extension-title: #000000;
  --bg-card: white;
  --card-name: #1c398e;
  --card-description: #000000;
  --card-bord: rgb(188, 188, 188);
  --card-btn: white;
}

.dark-theme{
  --bg-color: blue;
  --bg-start: #000216;
  --bg-end: #000051;
  --text-color: #ffffff;
  --bg-nav: rgba(48, 48, 48, 0.896);
  --extension-title: #ffffff;
  --bg-card: rgba(48, 48, 48, 0.896);
  --card-name: #ffffff;
  --card-description: #ffffff;
  --card-bord: rgb(78, 78, 78);
  --card-btn: rgba(48, 48, 48, 0.896);
}

/*
background: #00031f;
background: linear-gradient(180deg, rgba(0, 3, 31, 1) 0%, rgba(0, 0, 107, 1) 100%);
*/
